.stat-card {
    background: linear-gradient(145deg, #1e293b 0%, #0f172a 100%);
    border: 1px solid #334155;
    transition: transform 0.2s;
}

.stat-card:hover {
    transform: translateY(-3px);
    border-color: #10b981;
}

.stat-card i {
    color: #10b981;
}

header p {
    color: #64748b;
}

.table th {
    color: #10b981;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.75rem;
    border-bottom: 2px solid #334155;
    background-color:  #090d16;;
}

.table td {
    border-bottom: 1px solid #334155;
     background-color:  #0f172a;
      color: #94a3b8;
}

.badge{
    background-color: #fffcec;
}


.card-footer {
    background: #0f172a;
    border-top: 1px solid #334155;
    color: #10b981;
}

.card-header{
   background-color: #fffcec;
    
}