header h1 {
    color: #f1f5f9;
}

.card-header {
     background-color: #fffcec;
    color: #10b981;
    font-weight: 600;
}


aside .card {
    border: 1px solid #334155;
}

.table th {
    color: #10b981;
    text-transform: uppercase;
    font-size: 12px;
    border-bottom: 2px solid #334155;
    background-color: #0f172a;
    
}


.table td{
     background-color: #0f172a;
      border-bottom: 1px solid #334155;
      color: #94a3b8;
}

.badge.bg-secondary {
    background: #334155 !important;
    color: #94a3b8;
}

.form-label{
    color: #64748b;
}